hr {
  border: none;
  height: 3px;
  color: #909294;
  background-color: #909294;
}

.all {
  margin-inline: 100px;
  margin-top: 100px;
}

.judul, .gambar{
  align-items: center;
  text-align: center;
  justify-content: center;
}

.important {
  background-color: #333333;
  color: whitesmoke;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  outline-style: groove;
  outline-width: thin;
}

.footer {
  align-items: center;
  align-content: center;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.icon-footer {
  font-size: 28px;
  display: flex;
  gap: 25px;
  justify-content: center;
  text
}

h3 {
  color: #378ce7;
  font-family: roboto, sans-serif;
  font-weight: 300;
  font-size: 30px;
}

h4 {
  color: greenyellow;
  font-family: roboto, sans-serif;
  font-weight: 300;
  font-size: 20px;
}

span{
  color: #378ce7;
  font-weight: bold;
  font-size: 18px;
}

.ul-list a{
  text-decoration: none;
}

/* Image */
.img-xl{
  width: 90%;
  height: 90%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.img-xl-top{
  width: 90%;
  height: 90%;
  margin-top: 10px;
  margin-bottom: 20px;
}
@media screen and (max-width: 426px) {
  .all {
    margin-inline: 15px;
  }
}