*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;
}

body{
  overflow-x: hidden;
}
.navigasi{
    background-color: #4070f4;
    width: 100%;
    height: 80px;
}

.logo{
    color: white;
    float: left;
    padding-top: 23px;
    padding-bottom: 5px;
    padding-left: 25px;
}

.menu{
    margin-left: 800px;
    padding-top: 30px;
}

.menu ul li{
    list-style: none;
    display: inline-block;
    margin-right: 50px;
}

.menu ul li a{
    text-decoration: none;
    color: white;
    transition: all .5s ease;
}

.menu ul li a:hover{
    color: #434242;
}

.banner{
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(64,112,244,1) 100%);
    width: 100%;
    height: 100vh;
    text-align: center;
}

.banner img{
    border-radius: 50%;
    height: 200px;
    border: 6px solid white;
    margin-top: 70px;
}

.banner h1{
    color: #00102e;
    font-size: 40px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.banner h1 span{
    color: #3079ff;
}

.banner p{
    color: #00102e;
    font-size: 25px;
}
/* === slide ===*/
.work{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #ffff;
}

.slide-container{
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
  }
  .slide-content{
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
  }
  .card{
    border-radius: 25px;
    background-color: #FFF;
  }
  .image-content,
  .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
  }
  .image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
  }
  .overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #4070F4;
    border-radius: 25px 25px 0 25px;
  }
  .overlay::before,
  .overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #4070F4;
  }
  .overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #FFF;
  }
  .card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #FFF;
    padding: 3px;
  }
  .card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid black;
  }
  .name{
    font-size: 18px;
    font-weight: 500;
    color: #333;
  }
  .description{
    font-size: 14px;
    color: #707070;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .swiper-navBtn{
    color: black;
    transition: color 0.3s ease;
  }
  .swiper-navBtn:hover{
    color: black;
  }
  .swiper-navBtn::before,
  .swiper-navBtn::after{
    font-size: 35px;
  }
  .swiper-button-next{
    right: 0;
  }
  .swiper-button-prev{
    left: 0;
  }
  .swiper-pagination-bullet{
    background-color: black;
    opacity: 1;
  }
  .swiper-pagination-bullet-active{
    background-color: black;
  }
  
  @media screen and (max-width: 768px) {
    .slide-content{
      margin: 0 10px;
    }
    .swiper-navBtn{
      display: none;
    }
  }
/* === work1 === */

.work1{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.box-work1{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.box{
    text-align: center;
    margin-inline: 20px;
    align-items: center;
}

.box img{
    width: 350px;
    height: 280px;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* === work2 === */

.box a{
    text-decoration: none;
    color: white;
}

.button{
    width: 130px;
    height: 50px;
    cursor: pointer;
    color: #ffff;
    font-size: 15px;
    border-radius: 1rem;
    border: none;
    position: relative;
    background: #100720;
    transition: .5s;
}

.button::after{
    content: '';
    width: 100%;
    height: 100%;
    background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(255, 94, 247, 1) 17.8%, rgba(2, 245, 255, 1) 100.2%);
    filter: blur(15px);
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
}

.button:hover{
    transform: scale(0.9) rotate(3deg);
    background: radial-gradient( circle farthest-corner at 10% 20%, rgba(255, 94, 247, 1) 17.8%, rgba(2, 245, 255, 1) 100.2%); 
    transition: 1s;
}

/* === Footer === */
.footer{
    height: 150px;
    background-color: #3079ff;
    margin-top: 50px;
}

.footer__title{
    text-align: center;
    color: white;
    font-size: 30px;
    padding-top: 20px;
}

.footer__social{
    padding-top: 20px;
    text-align: center;
}

.footer__social a{
    font-size: 23px;
    text-decoration: none;
    color: white;
    margin-inline: 5px;
}

@media screen and (max-width: 768px){
    .work1{
        width: 100vh;
    }

    .box-work1{
        flex-direction: column;
        align-items: center;
    }

    .box{
        margin-bottom: 30px;
    }

    .box img{
        width: 350px;
        height: 220px;
    }

    .container{
        height: 300px;
        display: flex;
        overflow-x: auto;
        gap: 5px;
    }
    
    .container .card{
        min-width: 300px;
        height: 250px;
        margin-inline: 5px;
        border-radius: 20px;
        margin-bottom: 20px;
        border: 3px solid black;
    }
    
    .container::-webkit-scrollbar{
        width: 0;
    }
    
    .container::-webkit-scrollbar-thumb{
        background-color: #00102e;
        border-radius: 20px;
    }
    
    .card{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}